<footer>
    <div id="footer-container">
        <p id="footer-title"><a href="/setup">JACK'S</a></p>
        <div id="footer-list">
            <a href="/index" class="footer-link">HOME</a><br>
            <a href="/booking/location" class="footer-link">BOOK FACILITIES</a><br>
            <a href="/feedback/form" class="footer-link">SENT FEEDBACK</a><br>
            <a href="/contact" class="footer-link">CONTACT US</a>
        </div>
        <div id="footer-list-place">
            <a href="/booking/location#bilbao" class="footer-link">BILBAO</a><br>
            <a href="/booking/location#pamplona" class="footer-link">PAMPLONA</a><br>
            <a href="/booking/location#san_sebastian" class="footer-link">SAN SEBASTIEN</a><br>
            <a href="/booking/location#vitoria" class="footer-link">VITORIA</a>
        </div>
    </div>
</footer>