<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head> 
    <title>Jack's - Create Banner Complete</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/bebas" rel="stylesheet">
    <link th:href="@{/css/completion.css}" rel="stylesheet" />
    <link th:href="@{/css/headerAndFooter.css}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" th:href="@{/photo/dumbbell_logo.png}">
</head>
<body>
    <div th:replace="fragments\navbar"></div>

    <div id="booking-complete-container">
        <div id="check-mark"></div>
        <hr>
        <p id="booking-complete-title">BANNER COMPLETED!</p>
        <hr>
        <a class="normal-button" href="/index">home</a>
        <hr>
        <a class="normal-button" href="/admin/manageBanner">manage banner</a>
    </div>
    

    <div th:replace="fragments\footer"></div>

</body>
</html>