<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head> 
    <title>Jack's - Profile</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/bebas" rel="stylesheet">
    <link th:href="@{/css/headerAndFooter.css}" rel="stylesheet" />
    <link th:href="@{/css/user_profile.css}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" th:href="@{/photo/dumbbell_logo.png}">
</head>
<body>
    <div th:replace="fragments\navbar"></div>

    <p id="my-account-title">my account</p>
    <a href="/user/edit" title="edit profile"><div class="edit-account"></div></a>
    <div id="user-information-container">
        <p id="name-title" class="user-information-title">name</p>
        <p id="name-user" class="user-informations" th:text="${user.firstName}"></p>
        <p id="surname-title" class="user-information-title">lastname</p>
        <p id="surname-user" class="user-informations" th:text="${user.lastName}"></p>
        <p id="username-title" class="user-information-title">username</p>
        <p id="username-user" class="user-informations" th:text="${user.username}"></p>
        <p id="email-title" class="user-information-title">email</p>
        <p id="email-user" class="user-informations" th:text="${user.email}"></p>
    </div>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="normal-button" id="logout-button">LOGOUT</button>
    </form>

    <div th:replace="fragments\footer"></div>
</body>
</html>